// Главный файл, где пишутся и куда подключаются все стили проекта

// Адаптивное свойство - используется, если дизайнером предоставлен неполный макет,
// чтобы при уменьшении или увеличении экрана паддинги, размеры шрифта автоматически
// увеличивались / уменьшались в границах от десктопного значения до телефонного
// Подробнее: https://www.youtube.com/watch?v=eaOAY0vIB4U
$maxWidth: 1920; // Для масштабирования, например, текста, если экран будет увеличиваться и станет больше контейнера
$maxWidthContainer: 920; // Для масштабирования, например, текста, если экран будет уменьшаться и станет меньше контейнера

// Импорт дополнительных файлов стилей и настроек
@import 'variables';
@import '../../node_modules/normalize.css/normalize';
@import 'start';
@import 'mixins/adaptive-value';
@import 'fonts';
@import 'global';

// Основная часть
html {
  overflow-x: hidden;
  &:has(._menu-opened) {
    overflow: hidden;
  }
}
body {
  font-family: 'Cera Round Pro', 'Open Sans', Arial, sans-serif;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  &._menu-opened {
    overflow: hidden;
    .phone-nav {
      transform: translateX(0);
    }
    .burger {
      &__line {
        &:nth-child(1) {
          transform: translate(-50%, -65%) rotate(45deg);
          top: 50%;
        }
        &:nth-child(2) {
          width: 0;
        }
        &:nth-child(3) {
          transform: translate(-50%, 65%) rotate(-45deg);
          bottom: 50%;
          top: auto;
        }
      }
    }
  }
}
.container {
  width: 100%;
  max-width: 920px;
  padding: 0 10px;
  margin: 0 auto;
}

input {
  @media (min-width: 968px) {
    &:focus {
      outline: 3px solid $main-hovered;
    }
  }
}

._focused {
  outline: 3px solid $main-hovered;
}

.phone-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  transform: translateX(110%);
  transition: 0.5s;
  background-color: rgba(#fff, 0.97);
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__item + &__item {
    margin-top: 15px;
  }
  &__item {
  }
  &__link {
    font-size: 24px;
  }
}

// header
.header {
  @include adaptive-value('padding-top', 22, 8, 1);
  @include adaptive-value('padding-bottom', 22, 8, 1);
  @include adaptive-value('padding-left', 40, 0, 1);
  @include adaptive-value('padding-right', 40, 0, 1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(#fff, 0.8);
  backdrop-filter: blur(15px) saturate(180%);
  z-index: 1000;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo-wrapper {
    margin-right: 20px;
  }
  &__nav {
  }
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
  }
  &__item + &__item {
    @include adaptive-value('margin-left', 20, 10, 1);
  }
  &__link {
    color: $text;
    position: relative;
    @include adaptive-value('font-size', 16, 12, 1);
    @media (min-width: 968px) {
      &:hover {
        &::before {
          width: 100%;
        }
      }
    }

    &::before {
      content: '';
      position: absolute;
      height: 1px;
      width: 0%;
      background-color: $text;
      bottom: -4px;
      left: 50%;
      transform: translateX(-50%);
      transition: 0.15s;
    }
  }
}

.burger {
  position: relative;
  width: 18px;
  height: 12px;
  cursor: pointer;
  &__line {
    width: 100%;
    height: 2px;
    border-radius: 2px;
    position: absolute;
    background-color: $text;
    transition: 0.2s;
    left: 50%;
    transform: translateX(-50%);
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 55%;
      transform: translate(-50%, -70%);
    }
    &:nth-child(3) {
      bottom: 0%;
      transform: translate(-50%, 0);
    }
  }
}

// economy
.economy {
  background: $substrate;
  @include adaptive-value('margin-bottom', 52, 35, 1);
  overflow: hidden;
  &__inner {
    @include adaptive-value('padding-top', 88, 10, 1);
    @include adaptive-value('padding-bottom', 89, 12, 1);
    position: relative;
  }
  &__big-img-wrapper {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &__big-img {
    width: 100%;
    @include adaptive-value('max-width', 436, 226, 1);
  }
  &__info {
    position: relative;
    z-index: 2;
    max-width: 500px;
  }
  &__title {
    color: $text;
    @include adaptive-value('font-size', 30, 20, 1);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
    max-width: 400px;
  }
  &__list {
    @include adaptive-value('margin-bottom', 30, 20, 1);
    list-style-type: disc;
    @include adaptive-value('padding-left', 24, 20, 1);
  }
  &__item {
    color: #555;
    font-family: 'Open Sans', Arial, sans-serif;
    @include adaptive-value('font-size', 16, 13, 1);
    line-height: 2;
    letter-spacing: 0.02em;
    position: relative;
    &::marker {
      @include adaptive-value('font-size', 11, 9, 1);
      color: #555;
    }
    // &::before {
    //   content: '';
    //   position: absolute;
    //   top: 50%;
    //   transform: translateY(-50%);
    //   left: 0;
    //   width: 4px;
    //   height: 4px;
    //   @include adaptive-value('left', 10, 8, 1);
    //   border-radius: 50%;
    //   background-color: #555;
    // }
  }
  &__link {
    max-width: 203px;
    @include adaptive-value('font-size', 14, 12, 1);
  }
}

// tarifs
.tarifs {
  @include adaptive-value('margin-bottom', 55, 51, 1);
  &__inner {
  }
  &__title {
    @include adaptive-value('margin-bottom', 33, 19, 1);
  }
  &__slider {
    .owl-stage-outer {
      overflow: visible;
    }
    .owl-item img {
      display: initial;
      width: initial;
    }
  }
  &__slider-item {
  }
  &__card {
    @include adaptive-value('padding', 30, 20, 1);
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 12px 25px 0 rgba(90, 90, 90, 0.12);
  }
}
.card {
  &._added {
    .card__btn {
      background-color: $main-hovered;
    }
  }
  &__inner {
  }
  &__title {
    @include adaptive-value('font-size', 20, 16, 1);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    @include adaptive-value('margin-bottom', 12.5, 5, 1);
  }
  &__caption {
    font-family: 'Open Sans', Arial, sans-serif;
    @include adaptive-value('font-size', 14, 10, 1);
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #acacac;
    margin-bottom: 5px;
  }
  &__subtitle {
    @include adaptive-value('font-size', 25, 18, 1);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: $main;
    @include adaptive-value('margin-bottom', 4.5, 10, 1);
  }
  &__desc {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    @include adaptive-value('font-size', 13, 12, 1);
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #555;
    @include adaptive-value('margin-bottom', 24, 10, 1);
  }
  &__input-wrapper {
    @include adaptive-value('margin-bottom', 20, 10, 1);
  }
  &__input {
  }
  &__label {
    display: inline-flex;
    cursor: pointer;
  }
  &__label-texts {
    margin-left: 10px;
  }
  &__label-text {
    font-weight: 400;
    @include adaptive-value('font-size', 14, 12, 1);
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: $text;
    display: block;
  }
  &__price-block {
    display: flex;
    align-items: center;
  }
  &__price {
    @include adaptive-value('font-size', 40, 25, 1);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: $text;
  }
  &__price-desc {
    margin-left: 10px;
    font-weight: 400;
    @include adaptive-value('font-size', 16, 14, 1);
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgba($text, 0.5);
  }
  &__addition {
    @include adaptive-value('font-size', 12, 10, 1);
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgba($text, 0.5);
    @include adaptive-value('margin-bottom', 19, 10, 1);
  }
  &__btn {
    max-width: 100%;
  }
}

// connect
.connect {
  @include adaptive-value('margin-bottom', 40, 19, 1);
  &__inner {
    @include adaptive-value('padding-top', 50, 20, 1);
    @include adaptive-value('padding-bottom', 86, 20, 1);
    @include adaptive-value('padding-right', 50, 10, 1);
    @include adaptive-value('padding-left', 50, 10, 1);
    background-color: $substrate;
    border-radius: 20px;
    @include adaptive-value('margin-left', 0, -10, 1);
    @include adaptive-value('margin-right', 0, -10, 1);
  }
  &__title {
    @include adaptive-value('margin-bottom', 20, 10, 1);
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    @include adaptive-value('row-gap', 10, 5, 1);
    column-gap: 10px;
    @include adaptive-value('margin-bottom', 20, 10, 1);
  }
  &__item {
  }
  &__item-btn {
    @include adaptive-value('font-size', 12, 11, 1);
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: $text;
    background-color: transparent;
    border: 1px solid rgba($text, 0.1);
    border-radius: 10px;
    @include adaptive-value('padding-top', 8.5, 6.5, 1);
    @include adaptive-value('padding-bottom', 8.5, 6.5, 1);
    @include adaptive-value('padding-left', 40, 10, 1);
    @include adaptive-value('padding-right', 40, 10, 1);
    cursor: pointer;
    transition: 0.15s;
    @media (min-width: 968px) {
      &:hover {
        color: $main-hovered;
        border-color: $main-hovered;
      }
    }

    &._checked {
      color: $main-hovered;
      border-color: $main-hovered;
    }
    @media (min-width: 968px) {
      &:active {
        transition: 0s;
        transform: scale(0.97);
      }
    }
  }
  &__form {
  }
  &__form-row {
    display: flex;
    &:nth-child(2) {
      align-items: center;
      flex-wrap: wrap;
    }
  }
  &__form-row + &__form-row {
    @include adaptive-value('margin-top', 20, 6, 1);
  }
  &__input {
    background-color: #fff;
    border-radius: 2px;
    @include adaptive-value('padding-top', 12, 10.67, 1);
    @include adaptive-value('padding-bottom', 15, 13.33, 1);
    @include adaptive-value('padding-left', 25, 15, 1);
    @include adaptive-value('padding-right', 25, 15, 1);
    border: none;
    @include adaptive-value('margin-right', 30, 15, 1);
    width: 100%;
    transition: 0.15s;
    @media (min-width: 968px) {
      &:hover {
        &::placeholder {
          color: rgba($text, 0.7);
        }
      }
    }

    @media (min-width: 968px) {
      &:focus {
        outline: 3px solid $main-hovered;
        &::placeholder {
          color: rgba($text, 0.7);
        }
      }
    }
    &:nth-child(1) {
      max-width: 183px;
    }
    &::placeholder {
      font-family: 'Open Sans', Arial, sans-serif;
      font-size: 12px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: rgba($text, 0.3);
      transition: 0.15s;
    }
  }
  &__btn {
    max-width: 202px;
  }
  &__form-label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &__checkbox-input {
  }
  &__checkbox-text {
    @include adaptive-value('margin-left', 20, 10, 1);
    @include adaptive-value('font-size', 14, 12, 1);
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #989898;
  }
  &__checkbox-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    @include adaptive-value('font-size', 14, 12, 1);
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: 0.15s;
    color: #989898;
    @media (min-width: 968px) {
      &:hover {
        color: $main-hovered;
      }
    }
  }
}

// footer
.footer {
  @include adaptive-value('padding-bottom', 21, 0, 1);
  &__inner {
    position: relative;
    @include adaptive-value('padding-top', 20, 10, 1);
    @include adaptive-value('padding-bottom', 20, 29, 1);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: rgba($text, 0.1);
      left: 0;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
  }
  &__left {
    display: flex;
    align-items: center;
  }
  &__logo-wrapper {
  }
  &__copy {
    @include adaptive-value('margin-left', 60, 0, 1);
    @include adaptive-value('font-size', 14, 12, 1);
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    color: #c2c2c2;
  }
  &__right {
  }
  &__socials {
    display: flex;
    align-items: center;
  }
  &__social {
  }
  &__social + &__social {
    margin-left: 20px;
  }
  &__social-link {
    transition: 0.15s;
    @media (min-width: 968px) {
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &__social-img {
  }
}

// scrollbar
::selection {
  background: rgba(1, 183, 255, 0.7);
}

*::-webkit-scrollbar {
  width: 12px; /* ширина scrollbar */
}
*::-webkit-scrollbar-track {
  background: #fff; /* цвет дорожки */
}
*::-webkit-scrollbar-thumb {
  background-color: #b1b1b1; /* цвет плашки */
  &:hover {
    background-color: #777777;
  }
  &:active {
    background-color: #4b4b4b;
  }
  border-radius: 5px;
  border: 2px solid #fff; /* padding вокруг плашки */
}
@media (min-width: 968px) {
  ::-webkit-scrollbar-button {
    height: 15px;
    width: 10px;
  }
  ::-webkit-scrollbar-button:vertical:increment {
    background: url('../images/global/arrow-down.svg') center no-repeat;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  ::-webkit-scrollbar-button:vertical:decrement {
    background: url('../images/global/arrow.svg') center no-repeat;
  }
}

@import 'media';
